*{
    padding: 0;
    margin: 0;
}

body {
	font-family: Open Sans;
}

header {
	height:80px;
}

.container {
	width:760px;
	margin-left: auto;
	margin-right: auto;
}

nav {
	background-color: #40475A;
	width:100%;
	padding-top: 20px;
	padding-bottom: 20px;
	position:fixed;
}

.selectedA {
	background-color: #49505F;
}

nav a {
	display: inline-block;
	list-style-type: none;
	margin-left: 20px;
	border:1px solid #646d7c;
	padding:10px 20px;
	text-decoration: none;
	color:white;
	font-size: 20px;
}

nav a:hover {
	background-color: #49505F;
}

.first {
	background-size: 100% 100%;
	background-image: url("./img/bg-1.jpg");
	 background-position: center center;
	 background-attachment: fixed;
	 background-size: cover;
	 background-repeat: no-repeat;
	height: 605px;
}

h1 {
	font-weight: lighter;
	color:white;
	width:340px;
	margin-left: auto;
	margin-right: auto;
	font-size: 70px;
	text-shadow: 3px 0px black;
	padding-top: 290px;
}

.firstP {
	width:190px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 250px;
	color:white;
	font-size: 25px;
	text-shadow: 1px 0px black;
}

.second,.third, .fifth, .sixths{
	width:85%;
	margin:0 auto;
	margin-top: 70px;
	height:100%;
}

.third, .fifth {
	padding-bottom: 70px;
	overflow: hidden;
}
.column {
	float:left;
	width:31.5%;
	margin-left: 2.5%;
	background-color: gainsboro;

}

.firstC {
	margin-left: 0px;
}

.leftM {
	margin-left: 0px;
}

.second img {
	width:100%;
}

.column h3,p {
	padding:15px 20px 0px 20px;
}

.column h3 {
	font-weight: 900;
}

.column p {
	color:#49505F;
	font-size: 15px;
}

.bootstrap {
	color:green;
}

.responsive {
	color: dodgerblue;
}

.layout {
	color:#49505F;
}

.column div {
	display: flex;
  	justify-content: center;
}

.second button {
	outline:none;
	margin:auto;
	margin-top:30px;
	margin-bottom: 30px;
	border-radius: 10px;
	padding:0px 10px 16px 10px;
	border:none;
	color:white;
}

.second button:hover{
	opacity: 0.8;
}

.bBootstrap {
	background-color: green;
}

.bResponsive {
	background-color: dodgerblue;
}

.bLayout {
	background-color:#FF5733 ; 
}

.third img {
	width:100%;
}

.third div {
	margin-top: 70px;
	float:left;
	width:48.8%;
	margin-left: 2%;
	background-color: gainsboro;
}

.third div:first-child {
	margin-left: 0%;
}

.third h3{
	text-align: center;
	color:#49505F;
	margin-top: 15px;
}

.third p{
	color:#49505F;
	font-size: 15px;
}

.third button {
	color:#49505F;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 10px;
	outline:none;
	background-color: white;
	font-size: 20px;
	border:1px solid silver;
	margin:20px 20px 20px 0px;
	float:right;
}

.third button:hover{
	background-color: grey;
}

.pOne{
	padding-bottom: 85px;
}


.fourth{
	background-image: url("./img/bg-2.jpg");
	 background-position: center center;
	 background-attachment: fixed;
	 background-size: cover;
	 background-repeat: no-repeat;
	
}

.fourth h2 {
	padding-top: 90px;
	font-size: 30px;
	font-weight: lighter;
	color:white;
	text-shadow: 1px 0px dimgrey;
	text-align: center;
}

.fourth p {
	color:white;
	text-align: center;
	padding-bottom: 90px;
}

.fifth div {
	height:500px;
	float:left;
	width:23.5%;
	margin-left: 2%;
	background-color: gainsboro;
}

.fifth div:first-child {
	margin-left: 0%;
}

.fifth img {
	width:100%;
}

.fifth h3{
	text-align: center;
	color:#49505F;
	margin-top: 15px;
}

.fifth p{
	color:#49505F;
	font-size: 15px;
}

.fifth button{
	display: flex;
	color:#49505F;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 10px;
	outline:none;
	background-color: white;
	font-size: 20px;
	border:1px solid silver;
	margin:auto;
	margin-top:30px;
}

.sixths {
	margin-top: 0px;
	background-color: gainsboro;
}

.sixths img {
	width:100%;
}

.sixths h3 {
	color:#49505F;
	padding-top: 15px;
	padding-left: 20px;
}

.sixths p{
	color:#49505F;
	font-size: 15px;
}

.sixths button{
	color:#49505F;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 10px;
	outline:none;
	background-color: white;
	font-size: 20px;
	border:1px solid silver;
	margin-top:30px;
	margin-left: 20px;
	margin-bottom: 30px;
}

.seventh {
	margin-top: 70px;
	background-image: url(img/bg-3.jpg);
	background-size: 100% 100%;
	 background-position: center center;
	 background-attachment: fixed;
	 background-size: cover;
	 background-repeat: no-repeat;
	 overflow: hidden;
}

.seventh h2 {
	padding-top: 90px;
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: lighter;
	color:white;
	text-shadow: 1px 0px dimgrey;
	text-align: center;
}

.seventh p {
	padding:20px 3%;
	color:#49505F;
	text-align: center;
	width:50%;
	margin:0 auto;
	background-color: rgba(255, 255, 255,0.6);
	border-radius: 5px;
}

.wrap{
	width:56%;
	margin:0 auto;
}

.column1, .column2 {
	float:left;
	width:46.8%;
}

.column2 {
	margin-left: 6%;
}

.seventh button{
	display:block;
	color:white;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 10px;
	outline:none;
	background-color: black;
	font-size: 20px;
	border:1px solid silver;
	margin-top: 10px;
	margin-bottom: 30px;
}

.seventh button:hover{
	color:#49505F;
	background-color: white;

}

.seventh input {
	outline: none;
	border-radius: 5px;
	padding: 10px 2%;
	font-size: 15px;
	color:#49505F;
	border:none;
	margin-top: 20px;
	width:100%;
	background-color: rgba(255, 255, 255,0.6);
}

.seventh textarea {
	outline: none;
	padding: 10px 4.5%;
	height:130px;
	border-radius: 5px;
	font-size: 15px;
	color:#49505F;
	border:none;
	margin-top: 20px;
	width:92%;
	background-color: rgba(255, 255, 255,0.6);
}

.footer p {
	color:#49505F;
	text-align: center;
	font-size: 14px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.anchor{
  display: block;
  height: 85px; 
  margin-top: -85px;
  visibility: hidden;
}

i {
	margin-left: 75.5%;
	position: fixed;
	background-color: black;
	color: white;
	border-radius: 5px;
	visibility: hidden;
	padding:4px 8px;
	margin-top: 17px;
}

.dropDown{
	position: fixed;
	visibility: hidden;
	margin-top: 20px;
	margin-left: 53%;
	width:35%;
	padding-top: 43px;
}

.dropDown a {
	display: block;
	text-align: center;
	text-decoration: none;
	color:white;
	font-size: 16px;
	background-color: #49505F;
	margin-bottom: 3px;
	padding:3px;
}



@media only screen and (max-width: 760px){
	.column{
		width:100%;
		margin-left: 0px;
		margin-bottom: 20px;
	}

	.third {
		margin-top: 50px;
	}
	.third div {
		width:100%;
		margin-left: 0px;
	}

	.third div:first-child{
		margin-bottom: -50px;
	}

	.fifth div {
		width:100%;
		margin-left: 0px;
		height:600px;
		margin-bottom: 20px;
	}

	.column1, .column2 {
		display: block;
		width:97%;
		margin-left: 0px;
	}

	.column2{
		width:100%;
	}

	nav {
		display:none;
	}

	i{
		visibility: visible;
		font-size: 30px;
		z-index: 1;
	}

	.container {
		width:100%;
	}

	.dropDown{
		visibility:hidden;
	}
}

@media only screen and (max-width: 360px){
	section {
		width:100%;
	}

	.third{
		width:100%;
	}
	
	.column{
		width:95%;
		
		margin-left: 3%;
		margin-right: 3%;
	}
	
	.third div{
		width:90%;
		margin-left: 5%;
		margin-right: 5%;
		
	}

	.third div:first-child{
		margin-left: 5%;
	}

	
	.sixths {
		width:88%;
		margin-left: 6%;
		margin-right: 6%;
	}

	textarea {
		height:100%;
	}
}

@media only screen and (max-width: 800px){
	.fifth div{
		width:49%;
		height:540px;
		margin-left: 2%;
	}

	#thirdDiv{
		margin-left: 0%;
	}

	#marginBottom {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 520px){
	.fifth div {
		width:95%;
		margin-left: 3%;
		margin-right: 3%;
		height:500px;
	}

	.fifth div:first-child{
		margin-left: 3%;
	}
	
	#thirdDiv{
		margin-left: 3%;
	}
}

@media only screen and (min-width: 366px) and (max-width: 520px){
	.fifth div {
		height:600px;
	}
}

